/* his is setting the base style */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
}

/* this is changing the name */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

/* this is changing the title */
#title {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}

/* go, go uppercase */
.uppercase {
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
}

/* this is changing job titles */
.font-700 {
  font-weight: 700;
  font-size: 1.5em;
}

/* this is changing job organizatoin */
.font-400 {
  font-weight: 400;
  font-size: 1.5em;
}

/* this is changing job dates */
.font-400-italic {
  font-weight: 400;
  font-size: 1.5em;
  font-style: italic;
}

/* this is changing contact info */
li {
  font-size: 1em;
}
