/* his is setting the base style */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
}

/* go, go uppercase */
.secton-header {
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
  margin: 10px 0px 20px 0px;
  max-width: 400px;
}

/* this is changing job titles */
.job-title {
  font-weight: 700;
  font-size: 1.5em;
}

/* this is changing job organizatoin */
.organization {
  font-weight: 400;
  font-size: 1.25em;
  margin-top: 2px;
}

/* this is changing job dates */
.date {
  font-weight: 400;
  font-size: 1.5em;
  font-style: italic;
  margin: 2px 0px 0px 0px;
}

/* adding a new class of description for paragraphs*/
.description {
  margin: 10px 0px 20px 0px;
}

.menu{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
}

.inline{
  display: inline;
}

/* this is changing contact info */
li {
  font-size: 1em;
}

.inline li {
  display: inline;
}

.mission-statement{
  width: 60%;
  min-width: 300px;
  margin-bottom: 30px;
  margin-top: auto;
  margin-left: auto;
  margin-right:
}

#education{
  margin: 40px 0px 0px 0px;
}

#skills{
  margin: 40px 0px 0px 0px;
}

#contianer{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
}

#title {
  font-weight: 700;
  width: 60%;
  min-width: 300px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
  text-align: center;
}

/* this is code I made to solve problems in a prior way */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border-bottom-style: solid;
  border-bottom-color: 33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* this is changing the title */
