h1 {
  font-family: helvetica, sans-serif;
  font-size: 2em;
}

h2 {
  font-family: roboto, sans-serif;
  font-size: 1.5em;
}

p {
  font-family: "times new roman", serif;
  font-size: 1.2em;
}

footer {
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
  padding: 1em 0 1em 0;
}

.headline {
  text-align: center;
}

.image-break {
  margin: 2em 0 0 0;
}

.subhead-break{
  margin: .66em 0 0 0;
}

.paragraph-break{
  margin: 0 0 1em 0;
}
